:root{
    --primary-color: #16a34a;   
    --secondary-color: #065f46;
    --text-color: #f0fdf4;
}

.headerContainer{
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar{
    background-color: var(--secondary-color) !important;
    padding-block: 0;
}

.activeLink{
    color: #f0fdf4 !important;
    background-color: var(--primary-color);
    border-radius: 4px !important;
}

.nav-link{
    padding-block: 10px !important;
}


/* .navBar .nav-link{
    color: white !important;
} */
/* #basic-nav-dropdown{
    color: #FFFFFF8C !important;
} */

.iconsWrraper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.headerLogo{
    margin: 0;
    text-decoration: inherit;
    color: inherit;
    font-size: 2rem;
}

.headerLogo h1{
    margin: 0;
    display: flex;
}

.headerLogo h1 span{
    display: block;
    margin-right: 5px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    cursor: pointer;
}
.logo img{
    width: 80px;
    height: 25px;
}


.breadcrumb a{
    color: #003b03 !important;
    text-decoration: underline;
}

.logOut{
    display: flex;
    align-items: center;
    gap: 6px;
    color: red;
    font-weight: 500;
}
.logOut svg{
    font-size: 18px;
}