:root{
    --primary-color: #16a34a;   
    --secondary-color: #065f46;

    --bs-primary: var(--primary-color);
    --bs-secondary: var(--secondary-color);
}

body{
    background-color: #f0fdf4;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.text-primary {
    color: var(--primary-color) !important;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.activeLink{
    color: var(--secondary-color) !important;
}

.dropdown-menu {
    background-color: #024705e8 !important;
}